<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="[page.url]" (click)="navigate(page)"
        *ngFor="let page of getMenuItems()">
        <div class="md-list-item">
          <md-icon md-list-icon class>{{page.icon}}</md-icon>
          <div class="md-list-text">
            <span md-line>{{page.text}}</span>
            <span md-line class="secondary">{{page.description}}</span>
          </div>
        </div>
      </a>
    </md-nav-list>

  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
    </button> My Team Space
  </md-toolbar>
  <div class="main-container">
    <breadcrumb></breadcrumb>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>