
<md-nav-list>
    <a 
        [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="[page.url]" 
        *ngFor="let page of items"
        (click)="navigate(item)" >
        <div class="md-list-item">
            <md-icon md-list-icon class>{{page.icon}}</md-icon>
            <div class="md-list-text">
                <span md-line>{{page.text}}</span>
                <span md-line class="secondary">{{page.description}}</span>
            </div>
        </div>
    </a>
</md-nav-list>